<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIS CII Calculation</title>
  </head>
  <body class="relative">
    <%- include('components/sidebar') %> <%- include('components/fullmap') %>
    <script
      src="https://kit.fontawesome.com/ae940d5408.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
