<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIS CII Calculation</title>
  </head>
  <body class="relative font-sans bg-gray-100">
    <div
      class="bg-gray-800 text-white p-2 text-center absolute z-10 top-0 left-0 w-fit px-20 rounded-br-xl shadow-lg"
    >
      <h1 class="text-xl font-semibold">CII Calculation</h1>
    </div>

    <div
      class="bg-[#AAD3DF] h-screen absolute z-10 top-0 right-0 w-[28vw] pr-16 pt-9 pb-10 border-2 border-black rounded-l-lg shadow-xl box-border"
    >
      <div class="relative mr-5 mb-4">
        <input
          type="text"
          id="mmsi-input"
          class="w-full p-2 pl-10 pr-10 rounded-r-full border border-gray-400 shadow-md focus:ring-2 focus:ring-blue-500 text-sm"
          placeholder="Enter MMSI"
        />
        <i
          class="fas fa-search absolute right-4 top-2 text-gray-600 text-xl"
        ></i>
      </div>

      <div id="mmsi-list" class="mx-5 mb-4 space-y-2"></div>

      <div
        id="ship-info"
        class="mt-4 mx-5 bg-white h-auto rounded-xl border border-gray-400 shadow-inner p-5"
      >
        <div id="ship-details" class="w-full text-gray-700 text-sm"></div>
        <div class="text-center mt-9">
          <img
            id="ship-image"
            src="http://localhost:5001/assets/img/ships/525005223.jpg"
            alt="Ship Image"
            class="w-full h-auto rounded-lg"
            style="display: none"
          />
        </div>

        <div class="mt-2 text-center">
          <button
            id="calculate-cii"
            class="bg-blue-600 text-white py-2 px-6 rounded-full hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-sm hidden"
          >
            Calculate CII
          </button>
        </div>
      </div>
    </div>

    <div
      class="bg-[#AAD3DF] h-screen absolute z-10 top-0 right-[28vw] w-72 border-2 border-black flex items-center flex-col justify-center rounded-lg shadow-xl box-border gap-5"
    >
      <div
        id="cii-chart"
        class="w-[90%] h-60 bg-white border border-black rounded-lg"
      >
        grafil line dari
      </div>
      <div
        id="cii-value"
        class="w-[90%] bg-white border border-black rounded-lg p-2"
      >
        <h3 class="text-lg font-bold mb-2">CII Value</h3>
        <div class="text-left text-xs space-y-0.5">
          <p><b>ME Fuel Consumption :</b> 100 Liter</p>
          <p><b>AE Fuel Consumption :</b> 100 Liter</p>
          <p><b>Total Fuel Consumption :</b> 100 Liter</p>

          <div class="border-b-2 border-gray-400 w-full mx-auto my-2"></div>

          <p><b>CII Required :</b> 100 Liter</p>
          <p><b>CII Attained :</b> 100 Liter</p>

          <div class="border-b-2 border-gray-400 w-full mx-auto my-2"></div>

          <p><b>CII Score</b></p>
          <p><b>Score :</b> 100</p>
          <p><b>Grade :</b> A</p>
        </div>
      </div>
    </div>

    <div
      id="cii-modal"
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 hidden"
    >
      <div
        class="bg-white rounded-lg shadow-lg p-6 w-[26vw] text-center relative"
      >
        <h2 class="text-sm font-semibold mb-4">Select Calculation Method</h2>
        <div class="flex justify-center gap-2">
          <button
            id="cii-estimation1"
            class="bg-[#AAD3DF] text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-xs"
          >
            Use Estimation 1
          </button>
          <button
            id="cii-estimation2"
            class="bg-[#AAD3DF] text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-xs"
          >
            Use Estimation 2
          </button>
        </div>
        <button
          id="cii-close-modal"
          class="absolute top-2 right-2 text-xl text-gray-600 hover:text-gray-800 z-100"
        >
          <i class="fas fa-times text-red-700 text-2xl"></i>
        </button>
      </div>
    </div>

    <%- include('components/sidebar') %> <%- include('components/fullmap') %>

    <script
      src="https://kit.fontawesome.com/ae940d5408.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/assets/js/cii.js"></script>
  </body>
</html>
