<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIS Homepage</title>
  </head>
  <body class="relative">
    <div
      class="bg-gray-800 text-white p-2 text-center absolute z-10 top-0 left-0 w-fit px-20 rounded-br-xl shadow-lg"
    >
      <h1 class="text-xl font-semibold">Ship Emission Monitoring</h1>
    </div>
    <%- include('components/sidebar') %> <%- include('components/fullmap') %>
    <script
      src="https://kit.fontawesome.com/ae940d5408.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
