<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="/assets/css/main.css" />
<div id="map" class="min-h-screen w-[100vw]"></div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/assets/js/ais-map.js"></script>
