<div class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/" class="text-white text-lg font-semibold">Ship Tracker</a>
    <nav class="space-x-4">
      <a href="/api/v1/ais/all" class="text-white">AIS Data</a>
      <a href="/api/v1/other" class="text-white">Other Page</a>
    </nav>
  </div>
</div>
